<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic transition animation bug demo
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <p>
      Click on the button to transition to the next page. When we go back we'll
      see the button remain in the viewport until the animation has finished
      rather than animating wth the rest of the page
    </p>
    <ion-button routerLink="/contact">Go to the contact page</ion-button>
  </div>
</ion-content>
